<!DOCTYPE html>
<html lang="en">
<head>
{% include "macros/include datas.html" %}
	<script>
		$(document).ready(function () {
			$("form").attr("action", location.href); //返回原先頁面
		});
	</script>
	<script>
		// check completion
		// name, artist, link, album, series, time
		function check_values() {
			if ($("#name").val()) {
				alert("送出!");
				return true;
			} else {
				alert("data not complete");
				return false;
			}
		}
	</script>
</head>

<body style=" font-family: 微軟正黑體;">
{% include "macros/banner.html" %}
	<div class="px-5 mt-3 col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<div style="font-size: 30px">
			<i class="fas fa-pencil-alt"></i>
			編輯演出者資訊
		</div>

		<form action="default" method="POST" name="form1" style="font-size: 20px">
			<div class="form-group row" style="margin-top:30px">
				<label class="col-form-label" style="margin-left:15px">歌手</label>
				<div class="col-7">
					<input class="form-control" type="text" name="name" value='{{ name }}' placeholder="輸入歌手"
						id="name" maxlength="20" style="margin-left:36px">
				</div>
			</div>

			<div class="form-group row" style="margin-top:20px">
				<label class="col-form-label" style="margin-left:15px">唱片公司</label>
				<div class="col-7">
					<input class="form-control" type="text" name="company" value='{{ company }}' placeholder="輸入唱片公司"
						id="company" maxlength="20" style="margin-left:-5px">
				</div>
			</div>

			<!-- 送出按鈕-->
			<input type="submit" id="submit" class="btn btn-primary" value="送出" onclick="return check_values()"
				style="margin-bottom:50px">
			<!-- 返回按鈕-->
			<input type="button" id="back" class="btn btn-warning" value="返回"
				onclick="history.back()" style="margin-bottom:50px; margin-left:10px">
		</form>
	</div>
{% include "macros/flash msg.html" %}
</body>

</html>