<!DOCTYPE html>
<html lang="en">
<head>
{% include "macros/include datas.html" %}
	<script>
		$(document).ready(function() {
			$("#nav-info").css("background-color", "#99FFFF");
		});
	</script>
</head>
<body style=" font-family: 微軟正黑體;">
{% include "macros/banner.html" %}
	<div class="row">
{% include "macros/nav.html" %}
		<div  class="col">
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-top:15px">
			<span style="font-size: 40px">
				<i class="fas fa-info-circle"></i>
				關於本系統
			</span>
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="margin-top:20px;font-size :20px">
			v0.2 gamma
			<br>
			<br>
			孟學霸
			<i class="far fa-registered"></i>
			<br>
			團隊出品
			<br>
			link: <a href="https://github.com/clashroyaleisgool/database-project" target='_blank'>Github</a>
			<br>
			<br>
			1072資料庫理論
			<br>
			期末Project
			<br>
			教師: <a href="http://www.csie.ntnu.edu.tw/~jlkoh/index.htm" target='_blank'>柯佳伶老師</a>
			<br><br>
			關鍵字: database, mysql, appserv, PyMySQL, flask, jinja2, bootstrap, jquery, ajax, MVC, SPA
		</div>
		
		</div>
		
	</div>
</body>
</html>